{% extends 'poll/base.html' %}
{% block content %}

    {% if latest_question_list %}
        <title> My polls </title>
        <h1> POLLS:</h1>
        {% for question in latest_question_list %}
            <li><a href="{% url 'poll:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}

        <input id = menos type=button onClick="location.href='results'" value='Restar Votos'>
    {% else %}
        <p>No poll are available.</p>
    {% endif %}
{% endblock %}





