{% extends 'poll/base.html' %}
{% block content %}

    <div id=question>
        <h1>{{ question.question_text }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'poll:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="Votar">
        </form>
    </div>
    <div id=butt>
        <a href=" {% url 'poll:index_view' %}">
            <input type="submit" value="Volver al Menu"/>
        </a>
        <input type=button onClick="location.href='results'" value='Resultados Votación'>
    </div>

{% endblock %}
